<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Twitch Detection</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	</head>
	<body ng-app="TwitchList">
		<div class="col-xs-12" ng-controller="TwitchCtrl">
    <!-- <div class="col-xs-12"> -->
      <div class="col-xs-10 col-xs-offset-1">
        <div class="title row">
          <span class="col-xs-4 btnSpan">
            <button class="btn btn-success titleBtn" ng-click="online()">Online</button>
            <button class="btn btn-danger titleBtn" ng-click="offline()">Offline</button>
            <button class="btn btn-info titleBtn" ng-click="all()">All</button>
          </span>
          <span class="col-xs-6">
            <h1 class="titleText">Twitch Streams</h1>  
          </span>
          <span class="col-xs-2">
            <form ng-submit="Search()">
              <input ng-model="channel" type="search" placeholder="Add Twitch Stream">
            </form>
          </span>
        </div>
        <div class="row stream" ng-repeat="obj in fullStreams | filter: filter">
          <div class="col-xs-2">
            <img src="{{obj.img}}">
          </div>
          <div class="col-xs-4">
            <h2>{{obj.streamTitle}}</h2>   
          </div>
          <div class="col-xs-3">
           <h2 ng-if="obj.status === 'Offline'" class="offline">{{obj.status}}</h2>
           <h3 ng-if="obj.status === 'Online'" class="online">Game: {{obj.data.stream.game}}<br><a href="https://www.twitch.tv/{{obj.streamTitle}}">Status: {{obj.status}}</a></h3>
           <h3 ng-if="obj.status === 'Not Found!'" class="notFound">{{obj.status}}</h3>
          </div>
          <div class="col-xs-1">
            <button class="btn btn-danger deleteBtn" ng-click="deleteItem($index)">X</button>
          </div>
        </div>
        <div id="player1"></div>
      </div>
    <!-- </div> -->
   </div>
		
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="app.js"></script>
	</body>
</html>