body {
	margin-top: 5%;
	background-color: #D9B596;
	color: #eef;
	font-family: 'Work Sans', sans-serif;
}

img {
	margin-top: 2%;
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

/*div {
	border: 1px solid black;
}

span {
	border: 1px solid black;
}*/

a {
	text-decoration: none;
	border: none;
	color: inherit;
}

button {
	border-radius: 0px;
	text-decoration: none;
	border: none;
}


input {
	margin-top: 15%;
	border-radius: 0px;
	text-decoration: none;
	border: 1px solid grey;
	padding-left: 2%;
}

.titleText {
	font-family: 'Black Ops One', cursive;
	letter-spacing: 2px;
}

.title {
	background-color: #2A333A;
}

.stream {
	background-color: #848C65;
	margin-top: 7px;
}

.statusDiv {
	text-align: center;
}

.btnSpan {
	margin-top: 2%;
}

.deleteDiv {
	margin-top: 2%;
}

#footerDiv {
	height: 10px;
	background-color: #2A333A;
}