img {
	width: 100px;
	height: 100px;
}

/*div {
	border: 1px solid black;
}

span {
	border: 1px solid black;
}*/

input {
	margin-top: 15%;
}

.stream {
	background-color: olive;
	margin-top: 7px;
}

.btnSpan {
	margin-top: 2%;
}